
@{
    ViewBag.Title = "Index";
}




<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h4>HR Portal</h4>
            <p>Use navigation menu to manage policy database.</p>
        </div>
    </div>
</div>
