
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Welcome to the HR Portal</h1>
    <p>Use the Dropdown navigation to perform all CRUD operations.</p>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Learn More
    </button>
</div>

<div class="modal fade" data-modal-overflow="true" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">Navigating HR Portal</h2>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-xs-12">
                                <h3>View Polices</h3>
                                <p>This page allows you to select a category to navigate to a list of policies and view each individual item.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>Manage Policies</h3>
                                <p>This page allows you to add a policy with a new category or an existing category, and select a category to navigate to a list of policies to delete a policy.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>Manage Categories</h3>
                                <p>This page allows you to view a list of all categories and delete individual items.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




