<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Mode" value="Test" />
    <add key="TestFilePath" value="C:\Users\apprentice\Desktop\Repos\bitbucket\zach-robinson-individual-work\FlooringMastery.CLI\SystemIO\Orders_07041776.txt"/>
  </appSettings>
</configuration>